* {
  box-sizing: border-box;
  /* margin: 0px; */
  margin-left: 0px;
  margin-right: 0px;
}

body,
html {
  width: 100%;
  /* height: 100%; */
  font-family: sans-serif;
}

body{
  border: 2px solid yellow;
}

/* style for header and its children */

header {
  padding: 10px;

  /* flex-container part */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: white;
}

#logo {
  width: 48px;
  height: 48px;
}

#wrapper {
  /* flex-container part */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  /* flex-item part */
  flex-grow: 1;
}

#name {
  color: #2d3c49;
  margin: 2px 0;

  text-transform: uppercase;
  font-size: 1.8em;
  text-align: right;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  letter-spacing: 2px;
  word-spacing: 5px;
}

#title {
  color: #2d3c49;
  margin: 2px 0px;

  font-size: 1em;
  font-style: italic;
  text-transform: capitalize;
  text-align: right;
  word-spacing: 2px;

  font-weight: 200;
}

hr {
  border: 2px solid #7d97ad;
  margin: 0px 4px 10px 4px;
}

/* style for main and its children */
main{

  /* flex-container part */
  display: flex;
  flex-flow: column nowrap;
}

/* style for me section and its children */
/* this is the section-container for the whole me section */
#me{
  display: flex;
  flex-flow: column nowrap;

  /* background-color: #59c061; */
}


#image-me{
  width: 100%;
  /* max-width: 750px; */
  margin: 0px auto;
}

#nav-me{
  /* flex-container part */
  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: center;

  min-height: 50px;
}

.nav-button{
  min-height: 48px;
  flex-basis: 150px;

  font-size: 1.2em;
  font-weight: 200;
  font-style: italic;
  word-spacing: 5px;

  background-color: rgb(255, 246, 246);
  color: #7d97ad;
  
  border: none;
  cursor: pointer;
}

/* common style for both paragraphs */
.para{
  font-size: 1.3em;
  font-weight: 200;

  letter-spacing: 2px;
  word-spacing: 4px;

  margin: 4px 0px 0px;
  padding: 4px;

  background-color: #e5f3fa;
  color: #08310c;

  border-bottom: 1px solid #59c061;
}

/* this is the about me paragraph */
#about-me{
  
}

/* this is the contact me paragraph */
#contact-me>a:hover{
  color: purple;
}

#contact-me>a:active{
  color: red;
}


/* class to be used when an element has to be removed from DOM */
.remove{
  display: none;
}

/* class for currently selected button, which can either be about me or contact me */
.selected{
  border: 2px solid #cbebcd;
}

/* style for featured work and its children */
#featured-work{
  display: flex;
  flex-flow: column nowrap;
}

#featured-work-title{

  margin: 10px 4px 2px;

  color: #7d97ad;
  font-size: 1.8em;
  font-weight: 400;
  word-spacing: 6px;
}

#card-container{

  /* flex-container part */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  /* border: 2px solid seagreen; */
  padding: 10px 0px;
}

.card{

  margin-bottom: 10px;
  /* border: 2px solid salmon; */

  /* width: 100%; */
  flex-basis: 450px;

  /* flex-container part */
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;

}

.project-image-container{

  width: 100%;
  /* max-width: 300px; */

  /* flex-container part */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.project-image{
  width: 100%;
  max-width: 400px;
}

.project-title{

  margin: 4px auto;

  color: #2d3c49;
  text-transform: uppercase;
  text-align: center;

  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.github-link{
  margin: 4px auto;

  color: #2d3c49;
  text-align: center;
}

.project-separator{
  border: 1px solid #59c061;
  margin: 0px 4px 10px 4px;
}

/* media queries */
@media screen and (min-width: 450px) {
  #wrapper {
    flex-grow: 2;
  }
  
  #logo {
    flex-grow: 1;
  }


}


@media screen and (min-width: 630px){

  header{
    justify-content: space-between;
  }

  #wrapper{
    flex-grow: 0;
    flex-basis: 400px;
  }

  #logo{
    flex-grow: 0;
    flex-basis: 150px;
  }

  #card-container{
    flex-flow: row wrap;
  }

  .card{
    flex-basis: 300px;
    margin-right: 10px;
  }

}

@media screen and (min-width: 1050px){
  body{
    width: 1050px;
    margin: 0 auto;
  }
}